main.books {
    max-width: $maxContentWidth * 1.4;

    @include mediumScreen {
        padding: 0;
    }

    .book-descriptions {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        align-items: center;

        @include wideScreen {
            flex-direction: row;
            gap: 2em;
        }

        section {
            flex: 1 1 0px;
        }
    }

    & > p {
        text-align: center;
    }

    hr {
        border: none;
        border-top: 3px double #333333;
        color: #333333;
        overflow: visible;
        text-align: center;
        height: 5px;
    }

    .cover-and-description {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;

        @include mediumScreen {
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        img {
            max-width: 350px;
        }
    }

    @include wideScreen {
        hr {
            display: none;
        }
    }
}
