picture:has(.portrait-with-santa-hat) {
  position: relative;

  &::before {
    --size: 80px;

    content: "";
    position: absolute;
    top: -10%;
    left: 18%;
    width: var(--size);
    height: var(--size);
    background: url("/assets/holidays/santa-hat.png") no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .landing-page &::before {
    --size: 100px;
    $base-top: -33px;
    $base-left: 41px;

    top: $base-top;
    left: $base-left;

    @include mediumScreen {
      top: calc(#{$base-top} - 5%);
      left: 5vw;
      --size: 18vw;
    }

    @include wideScreen {
      --size: 200px;
    }
  }
}
