#main.landing-page {
  flex: 1 100%;
  min-height: auto;
  padding: 0;
  width: 100%;

  // This is only used to center the content.
  display: flex;
  justify-content: center;

  #content-container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: center; // Horizontal alignment
    align-items: center; // Vertical alignment
    gap: 20px;

    margin-top: 0;

    padding-top: calc(min(3vh, 50px));
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    @include mobile {
      flex-direction: column;
    }
  }
}

.landing-page #hero-container {
  flex: 2.5 0px;

  @include mobile {
    flex: 1.5 0px;
  }

  margin-left: 1vw;
  margin-right: 0;

  // Flex container properties.
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px; // Horizontal distance between hero portrait and hero text.

  @include mobile {
    flex-direction: column;
  }

  #hero-portrait {
    display: block;
    width: auto;
    height: 30vw;
    min-height: 200px;
    max-height: 400px;
  }

  #hero-text {
    width: 100%;
    max-width: 380px;

    // Flex container properties.
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Mali", sans-serif;
      font-size: 50pt;
      line-height: 1;
      text-align: center;
      margin-top: 0;
      margin-bottom: -40pt;
    }

    p {
      max-width: 350px;
      margin-top: 70px;
      margin-bottom: 0;
    }
  }
}

.landing-page #main-links {
  flex: 1 0px;
  margin-left: 0;
  margin-right: 0;
  height: min-content;

  // Flex container properties.
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  $iconHeight: 130px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span[role="link"] {
    display: block;
    font-family: "Mali", sans-serif;
    text-transform: uppercase;
    color: $textColor;
  }

  .big-icon {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
    max-height: $iconHeight;
  }
}

#main-links.container {
  padding: 0;
}
