.landing-page #hero-text {
  font-family: "Mali", sans-serif;
  font-size: 100pt;
}

#blog h2 img {
  height: 70px;
}

#talks h2 img {
  height: 50px;
}

#talks img.big-icon {
  margin-top: 30px;
  margin-left: 30px;
  height: 300px;
}
