@font-face {
  font-family: "Andrea";
  src: url('assets/fonts/andrea.otf') format('opentype');
}

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$handwrittenFont: "Andrea", "Mali", sans-serif; // From Google Fonts

// Colors

:root {
  $siteBackground: #f4f5f0;
  $text: #212424;
  $callout-background-info: rgba(#81d2d4, 0.3);

  --color-site-background: #{$siteBackground};
  --color-site-background-accented: #{darken($siteBackground, 5)};
  --color-code-background: #eee;

  --color-text: #{$text};
  --color-text-dimmer: #{lighten($text, 30%)};
  --color-links: #4183c4;

  --color-box-borders: #d3d7d7;

  --color-callout-info-background: #{$callout-background-info};
  --color-callout-info-background-title: #{darken($callout-background-info, 20)};
}

@include darkMode {
  $site-background: #2a2e31;
  $text: #fff;

  :root {
    --color-site-background: #{$site-background};
    --color-site-background-accented: #{darken($site-background, 5)};
    --color-code-background: transparent;

    --color-text: #{$text};
    --color-text-dimmer: #{darken($text, 30%)};
    --color-links: #4f97de;

    --color-box-borders: rgba(238, 238, 238, 0.1);
  }
}

// Sizes

// The maximum size of website content, such as posts, on any screen.
$maxContentWidth: 1100px;
