// Colors
$blue: #4183c4;
$gray: #666;
$lightGray: #eee;
$siteBackground: #f4f5f0;
$textColor: #212424;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$handwrittenFont: "Mali", sans-serif; // From Google Fonts

$darkModeColors: (
  "site-background": #2a2e31,
  "text-color": #fff,
  "inline-code-background": #2a2e31,
);

// Sizes

// The maximum size of website content, such as posts, on any screen.
$maxContentWidth: 1100px;
