@import "reset";
@import "variables";
@import "mixins";

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: $siteBackground;
  font: 18px/1.4 $helvetica;
  color: $textColor;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helveticaNeue;
  color: $textColor;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: 200%;
  text-align: center;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $blue;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.wrapper-masthead {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

:not(pre) > code {
  background-color: $lightGray;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 2px;
}

// Main content for posts.

#main {
  flex: 10 1 0px;

  h2 {
    text-align: center;
    margin: 25px 0 0 0;
  }
}

article.post,
main.about {
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding: 0 5vw;

  @include mediumScreen {
    padding: 0 10vw;
  }

  h1,
  h2 {
    font-family: $handwrittenFont;
    font-weight: bold;
  }

  .entry {
    font-size: 12pt;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  pre[data-lang] {
    padding: 15px;
    margin: 15px 0;
    overflow: scroll;
  }

  .unsplash-credit {
    font-size: 80%;
    font-style: italic;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: -10px;
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 120%;
    font-style: italic;
  }
}

article.post time.posted-at {
  display: block;
  font-style: italic;
  color: $gray;
}

article.post details {
  background-color: darken($color: $siteBackground, $amount: 5);
  border: 1px solid lighten($color: $textColor, $amount: 70);
  border-radius: 7px;
  padding: 0.5em 1em;

  :not(pre) > code {
    background-color: transparent;
  }
}

@import "components/header";
@import "components/footer";
@import "components/landing_page";
@import "highlights";
