@import "reset";
@import "mixins";
@import "variables";

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: var(--color-site-background);
  font: 18px/1.5 $serifFontStack;
  color: var(--color-text);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helveticaNeue;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: 200%;
  text-align: center;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--color-text-dimmer);
}

p {
  margin: 15px 0;
  font-size: 18px;

  // First line indentation (like in books)
  text-indent: 2em;

  // No indent for first paragraph
  &:first-of-type {
    text-indent: 0;
  }
}

a {
  color: var(--color-links);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover,
  &:active {
    color: var(--color-links-hover);
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.wrapper-masthead {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.posts>.post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--color-box-borders);
}

.posts>.post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

:not(pre)>code {
  background-color: var(--color-code-background);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 2px;

  @include darkMode {
    border: 1px solid var(--color-box-borders);
  }
}

// Main content for posts.

#main {
  flex: 10 1 0px;

  h2 {
    text-align: center;
    margin: 25px 0 0 0;
  }
}

article.post,
main.about,
main.books {
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding: 0 5vw;

  h1,
  h2 {
    font-family: $handwrittenFontStack;
    font-weight: bold;
  }

  .entry {
    font-size: 12pt;
    text-align: justify;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    &.invert-in-dark-mode {
      @include darkMode {
        filter: invert(1);
      }
    }
  }

  pre[data-lang] {
    padding: 15px;
    margin: 15px 0;
    overflow: scroll;
  }

  .unsplash-credit,
  .image-caption {
    font-size: 80%;
    font-style: italic;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: -10px;
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid var(--color-text-dimmer);
    padding: 0.1em 1em;
    color: var(--color-text-dimmer);
    font-size: 120%;
    font-style: italic;
  }
}

article.post table {
  width: 100%;
  margin: 1em 0;

  thead tr {
    border-bottom: 1px solid var(--color-text-dimmer);
  }

  th {
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid var(--color-text-dimmer);

    th:first-child,
    td:first-child {
      white-space: nowrap;
    }
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  th,
  td {
    padding: 0.5em 0.5em;
    border-right: 1px solid var(--color-text-dimmer);

    &:last-child {
      border-right: none;
    }
  }
}

article.post time.posted-at {
  display: block;
  font-style: italic;
  color: var(--color-text-dimmer);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--color-box-borders);
  font-size: 80%;
}

article.post details {
  background-color: var(--color-site-background-accented);
  border: 1px solid var(--color-box-borders);
  border-radius: 7px;
  padding: 0.5em 1em;

  :not(pre)>code {
    background-color: transparent;
  }
}

article.post .embedded-youtube-player {
  iframe {
    width: 100%;
    height: 20em;
  }
}

article.post {

  h2,
  h3,
  h4,
  h5 {
    font-family: $serifFontStack;

    a.zola-anchor {
      color: var(--color-text);

      &::after {
        content: "";
        background-image: url(assets/icons/anchor.svg);
        background-size: 100% 100%;
        display: inline-block;

        $side: 0.7em;

        width: $side;
        height: $side;
        margin-left: 5px;
        margin-top: 3px;
      }

      @include darkMode {
        &::after {
          filter: invert(1);
        }
      }
    }
  }

  h3 a.zola-anchor {
    color: var(--color-text-dimmer);
  }
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

aside.callout {
  $border-radius: 15px;

  margin-top: 2em;
  margin-bottom: 2em;

  border-radius: $border-radius;

  h5 {
    border-radius: $border-radius $border-radius 0 0;
    padding: .7em 2em;
    margin: 0;
    font-size: 120%;
  }

  div.callout-content {
    padding: 0 1em .5em;
  }

  &.callout-info {
    background-color: var(--color-callout-info-background);

    h5 {
      background-color: var(--color-callout-info-background-title);
    }
  }

  &.callout-warning {
    background-color: var(--color-callout-warning-background);

    h5 {
      background-color: var(--color-callout-warning-background-title);
    }
  }
}

@import "components/header";
@import "components/footer";
@import "components/landing_page";

@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

@import "_books";
@import "_one_offs";
@import "_holidays";
