---
---

@import "reset";
@import "variables";

html {
  font-size: 100%;
  height: 100%;
}

body {
	background: $siteBackground;
  font: 18px/1.4 $helvetica;
  color: $textColor;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 830px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $textColor;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  text-align: center;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

#main img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper-masthead {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}


// aaaaaa
#main {
  min-height: 100%;
  flex: 1;

  display: flex;

  @include mobile {
    flex-direction: column;
  }
}
// aaaaaa

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  position: relative;
  padding: 20px 0;
  text-align: center;
}

:not(pre) > code {
  background-color: $lightGray;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  border-radius: 2px;
}

.unsplash-credit {
  font-size: 80%;
  font-style: italic;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: -10px;
}

img.post-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

// Header

header {
  padding: 20px 0;
}

#header-contents {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.site-avatar > img {
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid $textColor;
}

img.site-title {
  height: 100px;
}

// Main content on the homepage

#main {
  margin-top: 40px;
}

#main h2 {
  text-align: center;
  margin: 0;
}

#blog h2 img {
  height: 70px;
}

#talks h2 img {
  height: 50px;
}

@import "highlights";
@import "svg-icons";
