<footer class="clearfix">
    <div class="icons">
        <a href="mailto:{{ site.footer-links.email }}">
            <img id="icon-email" class="footer-icon"
                src="{{ site.baseurl }}/assets/media/icon-email.png"
                alt="Hand-drawn icon of a letter envelope"
                title="Email" />
        </a>

        <a href="https://github.com/{{ site.footer-links.github }}">
            <img id="icon-github" class="footer-icon"
                src="{{ site.baseurl }}/assets/media/icon-github.png"
                alt="Hand-drawn icon of the GitHub logo"
                title="GitHub" />
        </a>

        <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
            <img id="icon-twitter" class="footer-icon"
                src="{{ site.baseurl }}/assets/media/icon-twitter.png"
                alt="Hand-drawn icon of the Twitter logo"
                title="Twitter" />
        </a>

        <a href="{{ site.footer-links.mastodon }}">
            <img id="icon-mastodon" class="footer-icon"
                src="{{ site.baseurl }}/assets/media/icon-mastodon.png"
                alt="Hand-drawn icon of the Mastodon logo"
                title="Mastodon" />
        </a>

        <a href="{{ site.baseurl }}/feed.xml">
            <img id="icon-rss" class="footer-icon"
                src="{{ site.baseurl }}/assets/media/icon-rss.png"
                alt="Hand-drawn icon of the RSS logo"
                title="RSS feed" />
        </a>
    </div>
</footer>
