// Footer

$footerIconWidth: 50px;

footer {
  height: 100px;
  flex: 0 1 0;
  justify-self: flex-end;
  margin-top: calc(min(2vh, 30px));
  margin-bottom: calc(min(2vh, 30px)); // Space from the bottom of the page

  div.icons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
      display: block;
    }
  }

  img.footer-icon {
    width: $footerIconWidth;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #icon-github {
    @include darkMode {
      filter: invert(1);
    }
  }
}
