@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#main.landing-page {
  flex: 1 100%;
  min-height: auto;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  #content-container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include wideScreen {
      flex-direction: row;
    }

    margin-top: 0;
    padding: calc(min(3vh, 50px)) 0 0 0;
  }
}

.landing-page #hero-container {
  flex: 2.5 0px;

  margin-left: 1vw;
  margin-right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include wideScreen {
    flex: 5 0px;
    gap: 30px;
    flex-direction: row;
  }

  #hero-portrait {
    display: block;
    width: auto;
    height: 30vw;
    min-height: 200px;
    max-height: 400px;
    animation: fadeInUp 0.6s ease-out both;
  }

  #hero-text {
    width: 100%;
    max-width: 380px;
    padding: calc(min(3vh, 10px)) 0;
    animation: fadeInUp 0.6s ease-out 0.15s both;

    display: flex;
    flex-direction: column;

    @include wideScreen {
      align-self: flex-end;
      padding-bottom: 40px;
    }

    h1 {
      font-family: $handwrittenFontStack;
      font-size: 50pt;
      line-height: 1;
      text-align: center;
      margin-top: 0;
      margin-bottom: -40pt;

      @include wideScreen {
        font-size: 120pt;
        text-align: left;
      }
    }

    p {
      max-width: 350px;
      margin-top: 70px;
      margin-bottom: 0;
    }
  }

  #hero-portrait-with-about-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    #hero-about {
      height: 100px;
      width: 100px;
      max-height: 100px;

      a {
        display: block;
        color: inherit;
        font-family: $handwrittenFontStack;
        text-align: right;
        text-decoration: underline;
        text-transform: lowercase;
        position: relative;
        top: -70px;
        left: -30px;
        transition: color 0.15s ease;

        &:hover {
          color: var(--color-links);
        }
      }

      img.arrow {
        display: block;
        margin: 0 0 0 auto;
        rotate: 166deg;
        transform: scale(1, 0.8);
        height: 100%;
        object-fit: contain;

        @include darkMode {
          filter: invert(1);
        }
      }
    }
  }
}

.landing-page #main-links {
  flex: 1 0px;
  margin-left: 0;
  margin-right: 0;
  height: min-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  @include mediumScreen {
    flex-direction: row;
    margin: 3vh 0;
  }

  @include wideScreen {
    flex-direction: column;
    margin-top: 6vh;
  }

  $iconHeight: 130px;

  &>.website-section-icon-and-link {
    transition: transform 0.15s ease;
    animation: fadeInUp 0.5s ease-out both;

    &:nth-child(1) { animation-delay: 0.3s; }
    &:nth-child(2) { animation-delay: 0.4s; }
    &:nth-child(3) { animation-delay: 0.5s; }

    &:hover {
      transform: translateY(-3px);
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }

  span[role="link"] {
    display: block;
    font-family: $handwrittenFontStack;
    text-transform: uppercase;
    color: var(--color-text);
    transition: color 0.15s ease;
  }

  &>.website-section-icon-and-link:hover span[role="link"] {
    color: var(--color-links);
  }

  img.big-icon {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
    max-height: $iconHeight;
  }

  img.big-icon:not(#blog *) {
    @include darkMode {
      filter: invert(1);
    }
  }
}

#main-links.container {
  padding: 0;
}
