{% if page.extra.cover_image %}
{% set_global cover_image_url = get_url(path="@/" ~ page.relative_path) ~ page.extra.cover_image %}
{% else %}
{% set_global cover_image_url = get_url(path="assets/media/website-overlay-cover.jpg") %}
{% endif %}
{% set tags = page.taxonomies.tags | default(value=[]) %}

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "url": "{{ current_url | safe }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ current_url | safe }}"
    },
    "author": {
        "@id": "{{ config.base_url | safe }}/#person"
    },
    "publisher": {
        "@id": "{{ config.base_url | safe }}/#person"
    },
    "datePublished": "{{ page.date | date(format="%Y-%m-%d") }}",
    "dateCreated": "{{ page.date | date(format="%Y-%m-%d") }}",
    "dateModified": "{% if page.updated %}{{ page.updated | date(format="%Y-%m-%d") }}{% else %}{{ page.date | date(format="%Y-%m-%d") }}{% endif %}",
    "headline": {{ page.title | json_encode() | safe }},
    "description": {{ page.description | trim | json_encode() | safe }},
    "image": {{ cover_image_url | json_encode() | safe }},
    {% if tags | length > 0 %}
    "keywords": {{ tags | join(sep=", ") | json_encode() | safe }},
    {% endif %}
    "inLanguage": "en"
}
</script>
