---
---

<header>
  <div class="header-left">
    <a href="/" class="header-link">
      <span class="header-tilde">~</span>
      <span class="site-name">andrealeopardi.com</span>
    </a>
  </div>
  <div class="header-right">
    <a href="/now/" class="header-now-link">
      <span class="status-dot"></span>
      <span>/now</span>
    </a>
  </div>
</header>
