<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#" lang="en" xml:lang="en">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ config.title }}</title>
    {% block meta %}{% include "snippets/meta.html" %}{% endblock meta %}

    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="/feed.xml" />

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path=" feed.xml",
        trailing_slash=false) }}" />
    {% endblock %}

    <script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"@id": "{{ config.base_url | safe }}/#person",
			"name": "{{ config.extra.full_name }}",
			"alternateName": "{{ config.extra.username }}",
            "pronouns": "he/him",
			"url": "{{ config.base_url | safe }}",
            "email": "{{ config.extra.email }}",
			"image": "{{ config.base_url | safe }}/assets/headshot.png",
			"jobTitle": "Principal engineer, Elixir core team, author, public speaker",
			"description": "Andrea is a software engineer from Italy working as a platform engineer at Knock. Member of the Elixir programming language core team since 2016, active contributor to the open-source community. His work focuses on Elixir, distributed systems, testing, and system architecture.",
			"sameAs": [
				"https://twitter.com/{{ config.extra.twitter_username }}",
				"https://github.com/{{ config.extra.github_username }}",
				"{{ config.extra.linkedin_url | safe }}",
				"{{ config.extra.bluesky_url | safe }}"
			],
			"knowsAbout": [
				"Elixir programming language",
                "Distributed systems",
                "Software architecture",
                "Testing methodologies",
                "Open-source software"
			]
		}
    </script>

    <script defer
        src="https://analytics.andrealeopardi.com/script.js"
        data-website-id="{{ config.extra.analytics_umami_website_id }}">
    </script>

    {% block json_ld %}{% endblock json_ld %}

    <script>
        function createSnowflakes() {
            const snowflakesInARow = 15;
            const snowflakeRows = 12;
            const viewportJiggle = 8;
            const body = document.body;

            for (let row = 0; row < snowflakeRows; row++) {
                for (let col = 0; col < snowflakesInARow; col++) {
                    const snowflake = document.createElement('div');
                    snowflake.classList.add('snowflake');

                    // Random size (scale), rotation, and opacity.
                    const scale = Math.random() * 0.8 + 0.2; // Scale between 0.2 and 1
                    snowflake.style.width = `${50 * scale}px`;
                    snowflake.style.height = `${50 * scale}px`;
                    snowflake.style.transform = `rotate(${Math.random() * 360}deg)`;
                    snowflake.style.opacity = `${Math.random() * 0.1}`; // Opacity between 0.5 and 1

                    // Random position
                    const startLeft = 100 * (col / snowflakesInARow);
                    const startTop = 100 * (row / snowflakeRows);
                    // Jiggle the position a bit to make it look more natural.
                    snowflake.style.left = `${startLeft + Math.random() * viewportJiggle - (viewportJiggle / 2)}vw`;
                    snowflake.style.top = `${startTop + Math.random() * viewportJiggle - (viewportJiggle / 2)}vh`;

                    body.appendChild(snowflake);
                }
            }
        }

        // Re-enable during holidays.
        // document.addEventListener('DOMContentLoaded', createSnowflakes);
    </script>
</head>

<body>
    <div class="wrapper-masthead">
        {% block header %}
        {% include "snippets/header.html" %}
        {% endblock header %}

        {% block content %}{% endblock content %}

        {% include "snippets/footer.html" %}
    </div>
</body>

</html>
