<footer class="clearfix">
    <div class="icons">
        <a href="mailto:hi@andrealeopardi.com">
            <img id="icon-email" class="footer-icon" src="/assets/media/icon-email.png"
                alt="Hand-drawn icon of a letter envelope" title="Email" />
        </a>

        <a href="https://github.com/whatyouhide">
            <img id="icon-github" class="footer-icon" src="/assets/media/icon-github.png"
                alt="Hand-drawn icon of the GitHub logo" title="GitHub" />
        </a>

        <a href="https://www.twitter.com/whatyouhide">
            <img id="icon-twitter" class="footer-icon" src="/assets/media/icon-twitter.png"
                alt="Hand-drawn icon of the Twitter logo" title="Twitter" />
        </a>

        <a href="https://mas.to/@whatyouhide">
            <img id="icon-mastodon" class="footer-icon" src="/assets/media/icon-mastodon.png"
                alt="Hand-drawn icon of the Mastodon logo" title="Mastodon" />
        </a>

        <a href="/feed.xml">
            <img id="icon-rss" class="footer-icon" src="/assets/media/icon-rss.png"
                alt="Hand-drawn icon of the RSS logo" title="RSS feed" />
        </a>
    </div>
</footer>
