<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- Mobile -->
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

{% set description = page.description | default(value="Andrea Leopardi's personal website") %}

<meta name="description" content="{{ description }}" />
<meta name="author" content="Andrea Leopardi" />

<!-- TODO: filename -->
<!-- TODO: automatic assets_path -->

<!-- Open Graph -->
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
{% endif %}
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ current_url }}" />
{% if false %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date }}" />
{% if false %}
<meta property="og:image" content="{{ site.url }}{{ assets_path }}/{{ page.cover_image }}" />
{% endif %}
{% else %}
<meta property="og:type" content="website" />
{% endif %}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@whatyouhide" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% endif %}
<meta name="twitter:description" content="TODO_description" />
{% if page.cover_image %}
<meta name="twitter:image" content="{{ site.url }}{{ assets_path }}/{{ page.cover_image }}" />
{% endif %}
