{% extends "base.html" %}

{% block content %}
<div id="main" role="main" class="container">
  <div class="posts">
    {% set section = get_section(path="posts/_index.md") %}

    {% for post in section.pages | sort(attribute="date") | reverse %}
    <article class="post">
      <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
      <time class="post-date" datetime="{{ post.date }}">{{ post.date | date(format="%B %e, %Y") }}</time>

      <div class="entry">
        {{ post.summary | safe }}

        <a href="{{ post.permalink }}" class="read-more">Continue reading &rarr;</a>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% endblock content %}
