{% extends "base.html" %}

{% block content %}
<div id="main" role="main" class="container post-page">
  <article class="post">
    <h1>{{ page.title }}</h1>

    <time class="post-meta-top" datetime="{{ page.date }}">
      {{ page.date | date(format="%B %e, %Y") }}
      {% if page.updated %} · Updated {{ page.updated | date(format="%B %e, %Y") }}{% endif %}
    </time>

    <div class="entry">{{ page.content | safe }}</div>

    <time class="posted-at" datetime="{{ page.date }}">
      Written on {{ page.date | date(format="%B %e, %Y")}}
      {% if page.updated %} · Last updated on {{ page.updated | date(format="%B %e, %Y") }}{% endif %}
    </time>

    {% include "snippets/giscus.html" %}
  </article>
</div>
{% endblock content %}

{% block json_ld %}
{% include "snippets/json_ld_blog_post.html" %}
{% endblock json_ld %}
