{% extends "base.html" %}

{% block content %}
<div id="main" role="main" class="container">
  <article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">{{ page.content | safe }}</div>

    <time class="posted-at" datetime="{{ page.date }}">
      Written on {{ page.date | date(format="%B %e, %Y")}}
      {% if page.updated %} · Last updated on {{ page.updated | date(format="%B %e, %Y") }}{% endif %}
    </time>

    {% include "snippets/disqus.html" %}
  </article>
</div>
{% endblock content %}
