name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    env: {}
    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.1

      - name: Lint Markdown files (with markdownlint)
        run: |
          docker run -v $PWD:/md peterdavehello/markdownlint markdownlint _posts

      - name: Check validity of links in Markdown files
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          base-branch: main
          check-modified-files-only: "yes"
          use-verbose-mode: "yes"
          config-file: link_check_config.json
