name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    env: {}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Run markdownlint
        run: |
          docker run -v $PWD:/md peterdavehello/markdownlint markdownlint _posts

      - name: Check validity of links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          base-branch: main
          check-modified-files-only: "yes"
          use-verbose-mode: "yes"
          config-file: link_check_config.json
