name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
    env: {}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Lint Markdown files (with markdownlint)
        run: |
          docker run -v $PWD:/md peterdavehello/markdownlint markdownlint _posts

      - name: Check validity of links in Markdown files
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          base-branch: main
          check-modified-files-only: "yes"
          use-verbose-mode: "yes"
          config-file: link_check_config.json

      - name: Ensure the website builds
        uses: shalzz/zola-deploy-action@v0.16.1
        env:
          BUILD_ONLY: true
          BUILD_FLAGS: --drafts

  # Following https://www.getzola.org/documentation/deployment/github-pages/
  build:
    name: Build and deploy GitHub Pages
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3.0.0

      - name: Build with Zola and push to GitHub Pages
        uses: shalzz/zola-deploy-action@v0.17.2
        env:
          PAGES_BRANCH: gh-pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
